<div class="form-inline">
  <form class="form-group" action="">
    <input placeholder="name" class="form-control" type="text" ng-model="$ctrl.participant.name">
    <button class="btn btn-primary" type="submit" ng-click="$ctrl.addParticipant($ctrl.participant)">dodaj</button>

    <div>
      <select ng-model="selection" ng-options="item for item in items"></select>
      <div ng-switch on="selection">
        <div ng-switch-when="one">pierwsze sekcja</div>
        <div ng-switch-when="two">druga sekcja</div>
        <div ng-switch-when="three">trzecia sekcja</div>
      </div>
    </div>

  </form>

</div>
