<h3>Cześć, <%= firstName %>!</h3>
<p>
    Dostaliśmy informację o Twojej rezygnacji z biegu. Żeby zrezygnować kliknij w <a href="<%= confirmationUrl %>">ten link</a>
    lub skopiuj ten adres do przeglądarki: <code><%= confirmationUrl %></code>.
</p>
<p>Jeżeli nie chcesz rezygnować, zignoruj tego maila.</p>